<div class = "d-flex navbar flex-wrap">
  <div class="d-flex navbar-top-container flex-wrap">
    <div class="nav-searchbar">
      <div class="cntr">
        <div class="cntr-innr">
          <label class="search" for="inpt_search">
            <input id="inpt_search" type="text"/>
          </label>
        </div>
      </div>
    </div>

    <div class="head">
      <div class="nav-header"><h1><%= link_to "Almanac.lol", root_path, class: "nav-link" %><h1>
      </div>
    </div>

    <div class="d-flex login-container flex-wrap">
      <div class="social-medias icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          <div id="social-test">
            <ul class="social">
              <li><a href="https://facebook.com/natgeo"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/natgeo"><i class="fa fa-twitter" aria-hidden="true"></a></i></li>
              <li><a href="https://instagram.com/natgeo"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.youtube.com/c/NaTGeo"><i class="fa fa-youtube" aria-hidden="true"></a></i></li>
            </ul>
          </div>
      </div>
      <div class="avatar-nav">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%if current_user.avatar.present?%>
                <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%else%>
                <%= image_tag "round-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <%end%>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Dashboard", dashboard_path, class: "dropdown-item" %>
                <%= link_to "Create my Timeline", new_timeline_path, class: "dropdown-item", data: { turbolinks: false } %>
                <%= link_to "Create a new Historical Event", new_event_path, class: "dropdown-item"%>
                <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="d-flex navbar-bottom-container flex-wrap">
    <div class="d-flex subhead justify-content-between flew-wrap">
        <div class="date">
          <%= date = Date.today.to_s(:long_ordinal) %>
        </div>
        <div d-flex >
          <%= link_to "Compare Timelines", timelineviewer_path, class: "subhead-nav-link",data: { turbolinks: false } %>
          <%= link_to "Create my Timeline", new_timeline_path, class: "subhead-nav-link",  data: { turbolinks: false } %>
          <%= link_to "Create an Historical Event", new_event_path, class: "subhead-nav-link",  data: { turbolinks: false } %>
          <%= link_to "All Timelines", timelines_path, class: "subhead-nav-link",  data: { turbolinks: false } %>
        </div>
    </div>
  </div>
</div>

<!-- OLD NAV BAR-->
<!-- <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%if current_user.avatar.present?%>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%else%>
            <%= image_tag "avatar_default.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <%end%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Create Your Timeline", new_timeline_path, class: "dropdown-item" %>
              <%= link_to "My dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div> -->
