 <div class="text-center">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :name, error: false %>
    <%= f.input :description, error: false %>
    <div class="dateform">
      <%= f.input :start_year, error: false %>
      <%= f.input :start_month, collection: (1..12).map{|i| [I18n.t("date.month_names")[i], i]}, error: false %>
      <%= f.input :start_day, error: false %>
    </div>
    <div class="dateform">
      <%= f.input :end_year, error: false %>
      <%= f.input :end_month, collection: (1..12).map{|i| [I18n.t("date.month_names")[i], i]}, error: false %>
      <%= f.input :end_day, error: false %>
    </div>
    <%= f.input :photo, as: :file, error: false %>
    <%= f.submit class: "submit-btn" %>
  <% end %>
</div>
<div class="mt-3 text-center">
  <% if policy(@event).destroy? %>
    <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure ?' }, class: "submit-btn" %>
  <% end %>
</div>
