<div data-controller="submitnewevent" data-action="submit->submitnewevent#submitForm">
      <%= simple_form_for(@event, remote: true, data: {submitnewevent_target: "form"}) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :start_date, as: :date, start_year: Date.today.year - 1000, end_year: Date.today.year - 12%>
        <%= f.input :end_date, as: :date, start_year: Date.today.year - 1000, end_year: Date.today.year - 12 %>
        <%= f.input :photo, as: :file%>
        <%= f.submit %>
      <% end %>
</div>
