<h1>Edit an event</h1>

<%= simple_form_for(@event) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start_date, as: :date%>
  <%= f.input :end_date,as: :date %>
  <%= f.input :photo, as: :file%>
  <%= f.submit %>
<% end %>
