<h1>My events</h1>

<ul>
  <% @events.each do |event|%>
  <li>
    <tr>
      <td> <%=event.name %></td>
      <td> <%=event.description %></td>
      <td> <%=@event.start_day.nil? ? "" : @event.start_day %>/<%=@event.start_month.nil? ? "" : @event.start_month %>/<%=@event.start_year%></td>
      <td> <%=@event.end_day.nil? ? "" : @event.end_day %>/<%=@event.end_month.nil? ? "" : @event.end_month %>/<%=@event.end_year.nil? ? "" : @event.end_year %></td>
      <td> <%= link_to 'Show', event_path(event) %></td>
      <% if policy(event).edit? %>
        <td><%= link_to 'Edit', edit_event_path(event)  %></td>
      <% end %>
      <% if policy(event).destroy? %>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
      <% end %>
    </tr>
  </li>
  <% end%>
</ul>
