<h2 class="text-center"><span class="red-dot">•</span> New Event <span class="red-dot">•</span></h2>
<div class="container mt-3">
  <div class="row">
    <div class="explanation col-6">
      <p>Create a new event by adding a <span class="bold">name</span>, <span class="bold">description</span>, <span class="bold">start date</span> and <span class="bold">end date</span>. You should also add a <span class="bold">photo</span> to the event.</p>
      <div class="tips">
        <h6>Tips<span class="red">:</span></h6>
        <ul>
          <li>Events should have a <span class="bold">start year</span> but <span class="bold">do not need a start month and day, nor an end date</span>. Only add an end date if your event was longer than a month, at minimum.</li>
          <li>Give a <span class="bold">clear name</span>, and keep it as short as possible.</li>
          <li>Write a concise <span class="bold">description</span> of your event that is no longer than <span class="bold">150 characters</span>.</li>
        </ul>
      </div>
    </div>
    <div class="newtimelineform col-6">
      <%= simple_form_for(@event) do |f| %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <div class="dateform">
            <%= f.input :start_year %>
            <%= f.input :start_month, collection: (1..12).map{|i| [I18n.t("date.month_names")[i], i]} %>
            <%= f.input :start_day %>
          </div>
          <div class="dateform">
            <%= f.input :end_year %>
            <%= f.input :end_month, collection: (1..12).map{|i| [I18n.t("date.month_names")[i], i]} %>
            <%= f.input :end_day %>
          </div>
          <%= f.input :photo, as: :file%>
          <div>
            <%= f.submit class: "submit-btn", value:  "Create an event" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
