<h1>An event</h1>

<ul>
  <li> <%=@event.name%> </li>
  <li> <%=@event.description%> </li>
  <li> <%=@event.start_date%> </li>
  <li> <%=@event.end_date%> </li>
</ul>

<tr>
  <% if policy(@event).edit? %>
    <td><%= link_to 'Edit', edit_event_path(@event)  %></td>
  <% end %>
  <% if policy(@event).destroy? %>
    <td><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
  <% end %>
</tr>
