<div class="d-flex homepage-first-big-container flex-wrap">
  <div class="d-flex homepage-first-big-sub-left-container flex-wrap">
    <div class="d-flex flex-column homepage-text-container">
      <div class="about-title">
        <h2> About Almanac.lol</h2>
      </div>
      <div class="about-text" id="p.homepage">
        Almanac.lol is a place where you can find many historical timelines and compare them. You can explore our many user-created timelines on our <%= link_to "timeline index", timelines_path %>, or <%= link_to "create your own", new_timeline_path %>. You can add then add events or eras to your timeline, and use our <%= link_to "timeline viewer", timelineviewer_path %>
        to compare different timelines. For a great example, check out the timelines. Enjoy making and comparing timelines on Almanac.
      </div>
      <div class="p-quote">
        <h5> "Thanks to Almanac, my students love history now!" Stephen, Amsterdam Primary School</h5>
      </div>
      <div class="about-text" id="p.homepage">
        <h4> Breaking News!</h4>
          Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
          It has survived It has survived It has survivedIt has survivedIt has survivedIt has survived.
      </div>
    </div>
    <div class="d-flex flex-column homepage-search-gif-container">
      <div class="timeline-search-bar">
        <% if user_signed_in? %>
          <%= form_tag timelines_path, class: "d-flex mb-3", method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          required: true,
          class: "form-control",
          placeholder: "Find a timeline"
            %>
          <%= submit_tag "Search", class: "click-btn" %>
          <% end %>
        <% end %>
      </div>
      <div class="homepage-animated-content">
        <div style="width:100%;height:0;padding-bottom:110%;position:relative;">
          <iframe src="https://giphy.com/embed/ixblGFHml3TyM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
          <a href="https://giphy.com/gifs/caesar-ixblGFHml3TyM"></a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column homepage-column-cards-btn-container flex-wrap">
    <% @timelines.sample(2).each do |timeline| %>
    <div class="card_3">
      <%= link_to timeline_path(timeline) do %>
        <div class="flip-card-1">
          <div class="flip-card-inner-1">
            <div class="flip-card-front-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path timeline.photo.key %>')">
            </div>
            <div class="card-title-description-homepage">
              <h2 id="card-title-1"><%=timeline.name%></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="homepage-btn">
      <%=link_to "All Timelines", timelines_path, class: "Hpg-btn"%>
    </div>
  </div>
</div>

<div class="d-flex justify-content-betwwen text-align-top homepage-second-big-container flex-wrap">
  <div class="homepage-timeline-title">
     <h2>Try our timeline!</h2>
  </div>
  <div class="timeline-knightlab">
    <div id="timeline-embed">
      <div data-controller="timeline" data-timeline-dates-value="<%= @hometimelines.to_json %>">
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between homepage-third-big-container flex-wrap">
  <div class="d-flex justify-content-between homepage-cards-container flex-wrap">
    <% @timelines.sample(3).each do |timeline| %>
    <div class="card_3">
      <%= link_to timeline_path(timeline) do %>
        <div class="flip-card-1">
          <div class="flip-card-inner-1">
            <div class="flip-card-front-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path timeline.photo.key %>')">
              <!-- <h2 id="card-title"><%=timeline.name%></h2> -->
            </div>
            <div class="card-title-description-homepage">
              <h2 id="card-title-1"><%=timeline.name%></h2>
                <p id="card-description-homepage-1"><%=timeline.description%></p>
            </div>
              <!-- <div class="flip-card-back-1">
                <h2 id="card-title-1"><%=timeline.name%></h2>
                <p id="card-description-1"><%=timeline.description%></p>
              </div> -->
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center homepage-podcast-container flex-wrap">
    <div class="podcast">
      <h1>PODCAST</h1>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4yGc7Y9q3mPdwj3IhIVWDG?utm_source=generator" width="100%" height="232" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between foot-infos">
  <div class="f-text">
    <p>©2022 Almanac</p>
  </div>
  <br>
  <div class="f-links">
    <ul>
      <%= link_to "Contact us", "/"%>
      <%= link_to "Work with us", "/"%>
      <%= link_to "Help", "/"%>
      <%= link_to "Privacy Policy", "/"%>
      <%= link_to "Terms of Service","/"%>
    </ul>
  </div>
</div>

 <!--<div class="d-flex flex-column homepage-right-container col-lg-8 col-md-12 col-sm-xs-12">
       -->



<!-- <div>
<% if user_signed_in?%>
  <%= form_tag timelines_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    required: true,
    class: "form-control",
    placeholder: "Find a timeline"
  %>
  <%= submit_tag "Search", class: "submit-btn" %>
<% end %>
</div>

<div class="mt-3 text-center">
  <%=link_to "Go to all the timelines", timelines_path, class: "big-btn"%>
</div>

<% else %>
  <div class="text-center">
    <%= link_to "Login", new_user_session_path, class: "submit-btn"%>
    <div class="mt-3">
      <p>Are you new here?</p>
      <%= link_to "Sign up", new_user_registration_path, class: "submit-btn"%>
    </div>
  </div>
<% end %>
</div> -->
