<div>
<% if user_signed_in?%>
  <%= form_tag timelines_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    required: true,
    class: "form-control",
    placeholder: "Find a timeline"
  %>
  <%= submit_tag "Search", class: "submit-btn" %>
<% end %>
</div>

<div class="mt-3 text-center">
  <%=link_to "Go to all the timelines", timelines_path, class: "big-btn"%>
</div>

<% else %>
  <div class="text-center">
    <%= link_to "Login", new_user_session_path, class: "submit-btn"%>
    <div class="mt-3">
      <p>Are you new here?</p>
      <%= link_to "Sign up", new_user_registration_path, class: "submit-btn"%>
    </div>
  </div>
<% end %>
</div>
