<div class="form-sign-up-container">
  <%= simple_form_for([@timeline, @era]) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :start_date, as: :date%>
      <%= f.input :end_date,as: :date %>
      <%= f.submit class: "submit-btn", value: "Create" %>
    </div>
  <% end %>
</div>
