<h1>Edit the Timeline</h1>

<%= simple_form_for(@timeline) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.association :events, label_method: :name, as: :check_boxes, collection: Event.all  %>
  <%= f.submit %>
<% end %>
