<h1>Edit the Timeline</h1>

<tr>
  <td>
    <%= simple_form_for(@timeline) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit %>
    <% end %>
  </td>
  <td>
    <%= simple_form_for(@eventstimeline, method: :post, url: timeline_eventstimelines_path(@timeline)) do |f| %>
      <%= f.input :event, collection: @events  %>
      <%= f.submit %>
    <% end %>
  </td>
</tr>
