<h2 class="text-center"><span class="red-dot">•</span> New Timeline <span class="red-dot">•</span></h2>
<div class="form-sign-up-container">
  <%= simple_form_for @timeline do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :events, input_html: { data: { controller: "select2" } } %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Save Timeline", class: "submit-btn" %>
    </div>
<% end %>
</div>
