<h1>New Timeline</h1>

<%= simple_form_for(@timeline) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.association :events, input_html: { class: "js-matcher-multiple"} %>
  <%= f.submit %>
<% end %>


<div class="mt-3">
  <div data-controller="newevent">
    <button data-action="click->newevent#display">New Event</button>
      <div class="mt-3 d-none" data-newevent-target="form">
        <%= render "events/new" %>
      </div>
  </div>
</div>
