<h1>New Timeline</h1>

<%= simple_form_for(@timeline) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start_date, as: :date%>
  <%= f.input :end_date,as: :date %>
  <%= f.submit %>
<% end %>
