<div id='timeline-embed' style="width: 100%">
  <div data-controller="timeline" data-timeline-dates-value="<%=@timelinejson.to_json%>">
  </div>
</div>
<tr>
  <% if policy(@timeline).edit? %>
    <td><%= link_to 'Edit', edit_timeline_path(@timeline)  %></td>
  <% end %>
  <% if policy(@timeline).destroy? %>
    <td><%= link_to 'Destroy', @timeline, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
  <% end %>
  <% if @bookmark.empty? %>
    <td> <%= link_to 'Bookmark it', timeline_bookmarks_path(@timeline), method: :post %> </td>
  <% else %>
    <td> <%= link_to 'Unbookmark it', timeline_bookmark_path(@timeline), method: :delete %> </td>
  <% end%>
</tr>
