<div class="row">
  <div class="col-md-9 col-sm-12 col-xs-12">
    <h2 class="text-center"><span class="red-dot">•</span> <%=@timeline.name%> <span class="red-dot">•</span></h2>
  </div>
  <%# BOOKMARK %>
  <div class="col-md-3 col-sm-12 col-xs-12">
    <% if @bookmark.empty? %>
    <div data-controller="popoverbookmark">
      <div class = "text-center" style="position: relative;">
        <%= link_to timeline_bookmarks_path(@timeline), method: :post do %>
          <i class = "far fa-bookmark" style="font-size: 40px;" data-action="mouseover->popoverbookmark#show mouseout->popoverbookmark#hide"></i>
          <div class="d-none" data-popoverbookmark-target="bookmark">
             <p class="popup">Bookmark?</p>
          </div>
        <% end %>
      </div>
      </div>
    <% else %>
    <div data-controller="popoverunbookmark">
      <div class = "text-center" style="position: relative;">
        <%= link_to timeline_bookmark_path(@timeline,@bookmark[0]), method: :delete do %>
          <i class = "fas fa-bookmark" style="font-size: 40px;" data-action="mouseover->popoverunbookmark#show mouseout->popoverunbookmark#hide"></i>
          <div class="d-none" data-popoverunbookmark-target="unbookmark">
            <p class="popup">Unbookmark?</p>
          </div>
        <% end %>
      </div>
    <% end%>
  </div>
</div>
<div class="timelineshowpagewrapper">
  <div id='timeline-embed'>
    <div data-controller="timeline" data-timeline-dates-value="<%= @timelinejson.to_json%>">
    </div>
  </div>

    <div class="container-timeline-actions" data-controller="reviews">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="mt-3 reviews" data-reviews-target="newreviews">
                <% unless @timeline.reviews.blank? %>
                  <% @timeline.reviews.each do |review| %>
                    <% if @timeline.user == review.user%>
                      <%= render 'reply', review: review %>
                    <% else %>
                      <%= render 'review', review: review %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% if policy(@timeline).edit? || policy(@timeline).destroy? %>
                <div class = "text-center m-3">
                  <% if policy(@review).new? %>
                    <div data-controller="newreview">
                      <button class = "submit-btn" data-action="click->newreview#display">Reply</button>

                      <div data-newreview-target="form" class="d-none">
                        <%= render "reviews/new" %>
                      </div>
                    </div>
                  <%end%>
                </div>
              <% end %>
            </div>
          <% if policy(@timeline).edit? || policy(@timeline).destroy? %>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <%# Edit %>
              <% if policy(@timeline).edit? %>
                <div class = "text-center mt-3">
                  <div data-controller="edittimeline">
                    <button class = "submit-btn" data-action="click->edittimeline#display">Edit</button>
                    <div data-edittimeline-target="form" class="d-none">
                      <%= render "timelines/edit" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% if policy(@timeline).destroy? %>
                <div class = "text-center mt-3">
                  <button class = "submit-btn"><%= link_to 'Delete', @timeline, method: :delete, data: { confirm: 'Are you sure ?' } %></button>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class = "text-center m-3">
                <% if policy(@review).new? %>
                  <div data-controller="newreview">
                    <button class = "submit-btn" data-action="click->newreview#display">Add a comment</button>
                    <div data-newreview-target="form" class="d-none">
                      <%= render "reviews/new" %>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
